body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 10vw;

}

main {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    align-items: center;
    background-color: transparent;
}

body {
    background-image: url('Blob.png'), url('Blob.png');
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% + 50%) top, calc(0% - 50%) bottom;
    background-size: 50%, 50%;
}

main {
    /* main의 나머지 스타일 */
}

header {
    text-align: center;

    h2 {
        color: #4A3AFF;
        font-size: 16px;
        font-weight: 700;
    }

    h1 {
        margin: 0;
        color: #170F49;
        font-size: 50px;
        font-weight: 700;
    }
}

.search-section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        text-align: center;
        color: #6F6C90;
        font-size: 18px;
        font-weight: 700;
    }
}

.input-with-btn {
    max-width: 400px;
    width: 100%;
    position: relative;
}

.search-bar {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    border: 1px solid #6F6F6F;
}

.search-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #776EF8;
}

.search-btn > p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -15px;
}

.board {
    height: fit-content;
    max-width: 50vw;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7FB;
    border-radius: 8px;
    padding: 32px;
    gap: 16px;
}

.write-board {
    border-radius: 16px;
    width: 40vw;
    height: 200px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
}

.input-title {
    width: 40vw;
}

.input-content {
    width: 40vw;
    height: 100%;
}

.upload-btn {
    width: 40vw;
    background-color: #776EF8;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dim {
    width: 100vw;
    height: 100vh;
    background-color: #A4A2A2CC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    width: 100%;
    background-color: #FFFFFF;
    height: 60px;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dim {
    display: none;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dim-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.data-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.data-item {
    width: 100%;
    max-width: none;
    flex-grow: 1;
}

.data-item-container {
    display: flex;
    width: 40vw;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 8px;
    padding: 16px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.data-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    border-radius: 16px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 16px;
    z-index: 10;
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    text-align: center;
    padding: 7px 0;
    font: 30px Inter, sans-serif;
    z-index: 10;
}

@media (max-width: 991px) {
    .header {
        max-width: 100%;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 80px;
    font-weight: 700;
    background-color: rgba(238, 221, 221, 0);
}

@media (max-width: 991px) {
    .content-container {
        max-width: 100%;
    }
}

.timestamp {
    border-bottom: 1px solid rgba(177, 177, 177, 1);
    color: #6f6c90;
    text-align: center;
    padding: 17px 60px;
    font: 20px/110% DM Sans, sans-serif;
    font-feature-settings: "clig" off, "liga" off;
    align-items: end;
}

@media (max-width: 991px) {
    .timestamp {
        padding-left: 20px;
        max-width: 100%;
    }
}


.meeting-details {
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 67px 0 17px;
    padding: 35px 80px 77px;
    width: 644px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .meeting-details {
        margin-top: 40px;
        padding: 0 20px;
    }
}

.main-message {
    color: #170f49;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font: 15px/120% DM Sans, sans-serif;
}

@media (max-width: 991px) {
    .main-message {
        margin-left: 2px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    padding: 16px 60px 12px;
    font-size: 13px;
    text-align: center;
}

@media (max-width: 991px) {
    .footer {
        padding: 0 20px;
        max-width: 100%;
    }
}

.footer-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cancel-button, .like-button {
    font-family: Inter, sans-serif;
}

.like-button {
    color: #000000;
}
  